<!DOCTYPE html>
<html>
<head>
<style>
body, h1 {
    color: black;
}

h3 {
    color: blue;
}
</style>
</head>

<!--Background-->
<body background="{{ url_for('static', filename='universal_background.jpg')}}"></body>

<body>

<h1>Game!</h1><br>
<!--The Logo-->
<a href="{{ url_for('homepage')}}"><img class="displayed" src="{{ url_for('static', filename='logo.png')}}" alt="HTML5 Icon"
            style="width:200px;max-width: 100%;height: auto;"></a>

<h3>Website Description:</h3>
<p1>Game! is a website that provides information about video games. Users can search video 
games and browse video games by categories. The website recommends games based on ratings and 
also provides similar games of the game users search.</p1>
<br><br>

<h3>Website Features:</h3>
<p2>● The website displays a number of recommended games based on the user and critic ratings.<br>
● The website displays the top three publishers, platforms and best-sellers based on the user and critic ratings.<br>
● Users can browse video games by genre, platform, publisher, platform and sale record.<br>
● Users can search for video games by name or publisher.<br>
● The website provides a list of products by the same publisher as the searched video game.<br>
● Users can connect with the developers through email.
</p2>
<br><br>

<h3>Citations of Dataset:</h3>
<p3>● Video Game Sales - vgsales.csv<br>
● Owned by Gregory Smith<br>
● <a href="https://www.kaggle.com/gregorut/videogamesales">Dataset Page Link</a><br>
● <a href="https://www.kaggle.com/account/login?ReturnUrl=%2fgregorut%2fvideogamesales%2fdownloads%2fvideogamesales.zip">Dataset Download Link</a>
</p3>
<br><br>

<h3>Feature That Is Not Implemented:</h3>
<p4>● Users can create personal accounts and manage their lists of favourite games. <br>
● The website can provide personalized recommendations of video games based on the users’ lists of favourite games.
</p4>
<br><br>

<h3>Scripts for Database Table:</h3>
<p4>DROP TABLE IF EXISTS video_game;<br>
CREATE TABLE video_game (<br>
&nbsp&nbsp&nbsp&nbsp Name text,<br>
&nbsp&nbsp&nbsp&nbsp  Platform text,<br>
&nbsp&nbsp&nbsp&nbsp  Year_of_Release text,<br>
&nbsp&nbsp&nbsp&nbsp  Genre text,<br>
&nbsp&nbsp&nbsp&nbsp  Publisher text,<br>
&nbsp&nbsp&nbsp&nbsp    NA_Sales real,<br>
&nbsp&nbsp&nbsp&nbsp    EU_Sales real,<br>
&nbsp&nbsp&nbsp&nbsp    JP_Sales real,<br>
&nbsp&nbsp&nbsp&nbsp    Other_Sales real,<br>
&nbsp&nbsp&nbsp&nbsp    Global_Sales real,<br>
&nbsp&nbsp&nbsp&nbsp    Critic_Score real,<br>
&nbsp&nbsp&nbsp&nbsp    Critic_Count real,<br>
&nbsp&nbsp&nbsp&nbsp    User_Score text,<br>
&nbsp&nbsp&nbsp&nbsp    User_Count real,<br>
&nbsp&nbsp&nbsp&nbsp    Developer text,<br>
&nbsp&nbsp&nbsp&nbsp    Rating text<br>
);<br>
</p4>
<br>




</body>
</html>
